src/java/com/orange/uklab/b2bbc/wsdl/SipConsumesServiceDescription.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="SipConsumesServiceDescription"
    targetNamespace="http://www.orange.com/uklab/b2bbc/wsdl/SipConsumesServiceDescription"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.orange.com/uklab/b2bbc/wsdl/SipConsumesServiceDescription"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:b2bbc="http://java.sun.com/jbi/wsdl-extensions/sample/jmx-bc/">
    <types>
        <xsd:schema targetNamespace="http://www.orange.com/uklab/b2bbc/wsdl/SipConsumesServiceDescription" xmlns:tns="http://www.orange.com/uklab/b2bbc/wsdl/SipConsumesServiceDescription">
            <xsd:element name="SipRequestLineElement">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SipStatusLineElement">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AcceptHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AcceptEncodingHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AcceptLanguageHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AlertInfoHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AllowHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AuthenticationInfoHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AuthorizationHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CallIDHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CallInfoHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContactHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContentDispositionHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContentEncodingHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContentLanguageHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContentLengthHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContentTypeHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CSeqHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DateHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ErrorInfoHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ExpiresHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FromHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="InReplyToHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MaxForwardsHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MinExpiresHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MIMEVersionHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="OrganizationHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PriorityHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ProxyAuthenticateHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ProxyAuthorizationHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ProxyRequireHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RecordRouteHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ReplyToHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RequireHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RetryAfterHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RouteHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ServerHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SubjectHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SupportedHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TimestampHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ToHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="UnsupportedHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="UserAgentHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ViaHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="WarningHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="WWWAuthenticateHeaderFieldElement">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!--
        This is a WSDL mapping of the SIP INVITE message, at the moment this
        contains only the basic header fields in an INVITE message. Full mapping
        of the INVITE message will be added later on.
        WSDL 1.1 is being used, this is only an abstract WSDL document.
    -->
    <message name="receiveInviteMessage">
        <part name="Request-Line" element="tns:SipRequestLineElement"/>
        <part name="Accept" element="tns:AcceptHeaderFieldElement"/>
        <part name="Accept-Encoding" element="tns:AcceptEncodingHeaderFieldElement"/>
        <part name="Accept-Language" element="tns:AcceptLanguageHeaderFieldElement"/>
        <part name="Alert-Info" element="tns:AlertInfoHeaderFieldElement"/>
        <part name="Allow" element="tns:AllowHeaderFieldElement"/>
        <part name="Authentication-Info" element="tns:AuthenticationInfoHeaderFieldElement"/>
        <part name="Authorization" element="tns:AuthorizationHeaderFieldElement"/>
        <part name="Call-ID" element="tns:CallIDHeaderFieldElement"/>
        <part name="Call-Info" element="tns:CallInfoHeaderFieldElement"/>
        <part name="Contact" element="tns:ContactHeaderFieldElement"/>
        <part name="Content-Disposition" element="tns:ContentDispositionHeaderFieldElement"/>
        <part name="Content-Encoding" element="tns:ContentEncodingHeaderFieldElement"/>
        <part name="Content-Language" element="tns:ContentLanguageHeaderFieldElement"/>
        <part name="Content-Length" element="tns:ContentLengthHeaderFieldElement"/>
        <part name="Content-Type" element="tns:ContentTypeHeaderFieldElement"/>
        <part name="CSeq" element="tns:CSeqHeaderFieldElement"/>
        <part name="Date" element="tns:DateHeaderFieldElement"/>
        <part name="Error-Info" element="tns:ErrorInfoHeaderFieldElement"/>
        <part name="Expires" element="tns:ExpiresHeaderFieldElement"/>
        <part name="From" element="tns:FromHeaderFieldElement"/>
        <part name="In-Reply-To" element="tns:InReplyToHeaderFieldElement"/>
        <part name="Max-Forwards" element="tns:MaxForwardsHeaderFieldElement"/>
        <part name="Min-Expires" element="tns:MinExpiresHeaderFieldElement"/>
        <part name="MIME-Version" element="tns:MIMEVersionHeaderFieldElement"/>
        <part name="Organization" element="tns:OrganizationHeaderFieldElement"/>
        <part name="Priority" element="tns:PriorityHeaderFieldElement"/>
        <part name="Proxy-Authenticate" element="tns:ProxyAuthenticateHeaderFieldElement"/>
        <part name="Proxy-Authorization" element="tns:ProxyAuthorizationHeaderFieldElement"/>
        <part name="Proxy-Require" element="tns:ProxyRequireHeaderFieldElement"/>
        <part name="Record-Route" element="tns:RecordRouteHeaderFieldElement"/>
        <part name="Reply-To" element="tns:ReplyToHeaderFieldElement"/>
        <part name="Require" element="tns:RequireHeaderFieldElement"/>
        <part name="Retry-After" element="tns:RetryAfterHeaderFieldElement"/>
        <part name="Route" element="tns:RouteHeaderFieldElement"/>
        <part name="Server" element="tns:ServerHeaderFieldElement"/>
        <part name="Subject" element="tns:SubjectHeaderFieldElement"/>
        <part name="Supported" element="tns:SupportedHeaderFieldElement"/>
        <part name="Timestamp" element="tns:TimestampHeaderFieldElement"/>
        <part name="To" element="tns:ToHeaderFieldElement"/>
        <part name="Unsupported" element="tns:UnsupportedHeaderFieldElement"/>
        <part name="User-Agent" element="tns:UserAgentHeaderFieldElement"/>
        <part name="Via" element="tns:ViaHeaderFieldElement"/>
        <part name="Warning" element="tns:WarningHeaderFieldElement"/>
        <part name="WWW-Authenticate" element="tns:WWWAuthenticateHeaderFieldElement"/>
    </message>
    <message name="sendResponseMessage">
        <part name="Status-Line" element="tns:SipStatusLineElement"/>
        <part name="Accept" element="tns:AcceptHeaderFieldElement"/>
        <part name="Accept-Encoding" element="tns:AcceptEncodingHeaderFieldElement"/>
        <part name="Accept-Language" element="tns:AcceptLanguageHeaderFieldElement"/>
        <part name="Alert-Info" element="tns:AlertInfoHeaderFieldElement"/>
        <part name="Allow" element="tns:AllowHeaderFieldElement"/>
        <part name="Authentication-Info" element="tns:AuthenticationInfoHeaderFieldElement"/>
        <part name="Authorization" element="tns:AuthorizationHeaderFieldElement"/>
        <part name="Call-ID" element="tns:CallIDHeaderFieldElement"/>
        <part name="Call-Info" element="tns:CallInfoHeaderFieldElement"/>
        <part name="Contact" element="tns:ContactHeaderFieldElement"/>
        <part name="Content-Disposition" element="tns:ContentDispositionHeaderFieldElement"/>
        <part name="Content-Encoding" element="tns:ContentEncodingHeaderFieldElement"/>
        <part name="Content-Language" element="tns:ContentLanguageHeaderFieldElement"/>
        <part name="Content-Length" element="tns:ContentLengthHeaderFieldElement"/>
        <part name="Content-Type" element="tns:ContentTypeHeaderFieldElement"/>
        <part name="CSeq" element="tns:CSeqHeaderFieldElement"/>
        <part name="Date" element="tns:DateHeaderFieldElement"/>
        <part name="Error-Info" element="tns:ErrorInfoHeaderFieldElement"/>
        <part name="Expires" element="tns:ExpiresHeaderFieldElement"/>
        <part name="From" element="tns:FromHeaderFieldElement"/>
        <part name="In-Reply-To" element="tns:InReplyToHeaderFieldElement"/>
        <part name="Max-Forwards" element="tns:MaxForwardsHeaderFieldElement"/>
        <part name="Min-Expires" element="tns:MinExpiresHeaderFieldElement"/>
        <part name="MIME-Version" element="tns:MIMEVersionHeaderFieldElement"/>
        <part name="Organization" element="tns:OrganizationHeaderFieldElement"/>
        <part name="Priority" element="tns:PriorityHeaderFieldElement"/>
        <part name="Proxy-Authenticate" element="tns:ProxyAuthenticateHeaderFieldElement"/>
        <part name="Proxy-Authorization" element="tns:ProxyAuthorizationHeaderFieldElement"/>
        <part name="Proxy-Require" element="tns:ProxyRequireHeaderFieldElement"/>
        <part name="Record-Route" element="tns:RecordRouteHeaderFieldElement"/>
        <part name="Reply-To" element="tns:ReplyToHeaderFieldElement"/>
        <part name="Require" element="tns:RequireHeaderFieldElement"/>
        <part name="Retry-After" element="tns:RetryAfterHeaderFieldElement"/>
        <part name="Route" element="tns:RouteHeaderFieldElement"/>
        <part name="Server" element="tns:ServerHeaderFieldElement"/>
        <part name="Subject" element="tns:SubjectHeaderFieldElement"/>
        <part name="Supported" element="tns:SupportedHeaderFieldElement"/>
        <part name="Timestamp" element="tns:TimestampHeaderFieldElement"/>
        <part name="To" element="tns:ToHeaderFieldElement"/>
        <part name="Unsupported" element="tns:UnsupportedHeaderFieldElement"/>
        <part name="User-Agent" element="tns:UserAgentHeaderFieldElement"/>
        <part name="Via" element="tns:ViaHeaderFieldElement"/>
        <part name="Warning" element="tns:WarningHeaderFieldElement"/>
        <part name="WWW-Authenticate" element="tns:WWWAuthenticateHeaderFieldElement"/>
    </message>
    <!--
        Here is the port-type definitions (or interfaces as per WSDL 2.0 specs) that
        defines a one-way operation (IN-ONLY MEP) to be used for sending the SIP
        messages back and forth as the case in SIP servlets (void doInvite() and void
        send() methods.
    -->
    <portType name="receiveInviteMessagePortType">
        <operation name="receiveInviteMessageOperation">
            <input name="sipInviteInput" message="tns:receiveInviteMessage"/>
        </operation>
    </portType>
    <!--Binding definitions-->
    <binding name="receiveInviteMessageBinding" type="tns:receiveInviteMessagePortType">
    </binding>
    <!--
        Defining the partner links, this is automatically generated by the WSDL 1.1
        Editor. Hasanein
    -->
    <service name="receiveInviteMessageService">
        <port name="receiveInviteMessagePort" binding="tns:receiveInviteMessageBinding">
            <b2bbc:address bindingAddress="192.168.1.2" bindingProtocol="UDP" bindingPort="5060" />
        </port>
    </service>
    <plnk:partnerLinkType name="receiveInviteMessage">
        <plnk:role name="role1" portType="tns:receiveInviteMessagePortType"/>
    </plnk:partnerLinkType>
</definitions>